/* public/css/styles.css */
/* Opcional: Estilo de fondo y fuente */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa; /* Color de fondo claro */
}

/* Estilo para el encabezado temático de la galería */
header {
    background-color: #4b0082 !important; /* Color morado oscuro */
    background-image: linear-gradient(135deg, #ff8c00 10%, #4b0082 100%); /* Naranja y Morado */
}

/* Estilo para imágenes pequeñas en la tabla */
.table img {
    border-radius: 4px;
    border: 1px solid #ddd;
}